.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5em);
    z-index: 9;
}

.modal.open,
.overlay.open {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    padding: 0.5em;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: white;
    border-radius: 0.25rem;
    z-index: 10;
}